<div class="p-3">
  <div class="alert alert-info mb-3">ตัวอย่างตาราง (โหลดเมื่อจำเป็น)</div>
  <div class="table-responsive">
    <table id="tt-table" class="table table-striped table-hover align-middle">
      <thead><tr><th>วัน</th><th>เวลา</th><th>รหัสวิชา</th><th>ชื่อวิชา</th></tr></thead>
      <tbody>
        <tr><td>จันทร์</td><td>08:00-10:00</td><td>CS101</td><td>Intro to CS</td></tr>
        <tr><td>อังคาร</td><td>10:00-12:00</td><td>CS201</td><td>Data Structures</td></tr>
      </tbody>
    </table>
  </div>
</div>
